// Mixins in here

.page-layout {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

.borders {
    border-bottom:2px dashed @navigation-border;
}

.buttons (@bg-color:darkcyan, @txt-color: white) {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: @bg-color;
    margin: 0 10px 20px;
    width: 200px;
    height: 45px;
    font-size: 1.8rem;
    border-radius: 10px;
    color: @txt-color;
}

