// Navigation Styles here
nav {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    padding: 3% 4% 1%;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px dashed @navigation-border;

    h1 {
        font-size: 4.2rem;
    }

    a {
        text-decoration: none;
        color: black;
        margin-left: 20px;
        font-size: 1.8rem;
    }
}