// Navigation Styles here
nav {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    padding: 3% 4% 1%;
    display: flex;
    justify-content: space-between;
    .borders();

    h1 {
        font-size: 4.2rem;
        margin-left: 40px;
    }

    a {
        text-decoration: none;
        color: black;
        margin-left: 10px;
        font-size: 1.6rem;
        margin-right: 45px;
    }
}